Source: trustedqsl
Section: hamradio
Priority: optional
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org> 
Uploaders: Jaime Robles <jaime@debian.org>, Patrick Ouellette <pouelle@debian.org>, Hamish Moffatt <hamish@debian.org>
Standards-Version: 3.8.1
Build-Depends: debhelper (>= 4), tqsllib-dev (>= 2.0-3), libexpat-dev, libssl-dev, libwxgtk2.8-dev, zlib1g-dev, autotools-dev, imagemagick

Package: trustedqsl
Architecture: any
Depends: ${shlibs:Depends}
Description: QSL log signing for the Logbook of the World (LoTW)
 A QSL is a confirmation of contact between two amateur radio stations.
 The ARRL Logbook of the World project is a database which collects
 data about contacts between amateur stations (QSOs). This package 
 provides programs for maintaining your digital certificates for
 LOTW and for signing QSO log files in ADIF and Cabrillo format
 for upload.

