[Desktop Entry]
Encoding=UTF-8
Name=TrustedQSL
Comment=Sign QSO data for upload to LoTW
Exec=tqsl
Icon=trustedqsl/key16.png
Terminal=false
Type=Application
Categories=HamRadio;
