[Desktop Entry]
Encoding=UTF-8
Name=tqslcert
Comment=Manage certificates for LoTW
Exec=tqslcert
Icon=key16.png
Terminal=false
Type=Application
Categories=Utility;HamRadio;
